# OS X
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Xcode
#
# gitignore contributors: scroll below to merge yours and provide feedback!

## Build results
build/
DerivedData/

## Project settings
xcuserdata/
!default.xcuserdatad/
!xcschemes/

## Root-level (and all other) xcodeproj
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# .build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge based on your team's workflow.
# Pods/
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Build

# AccuRev Static Files
.accurev.session

# Firebase
firebase-debug.log
